.container {
  min-height: 100vh;
  background-color: rgb(26, 226, 190);
  padding: 30px;
}

.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  
}
  .search-container {
    margin-bottom: 30px;
  }
  .search-container h1 {
    margin-bottom: 30px;
  }
  .footer{
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;

    
  }
  .strong{
    color: blueviolet;
  }
  .facebook {
  text-align: left;
  font-size: 1.4rem;
  }
  .facebook a {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    
  }
 
  
    